@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none !important;
}
.bg-radial-gradient {
  background-image: radial-gradient(
    circle at 10% 20%,
    rgba(4, 159, 108, 1) 0%,
    rgba(194, 254, 113, 1) 90.1%
  );
}
.border-gradient {
  border: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: conic-gradient(from 90deg at 50% 50%, #E2CBFF 0%, #393BB2 50%, #E2CBFF 100%);
  
  /* Animation */
  position: relative; /* Required for absolute children if needed */
  
  background: conic-gradient(from 90deg at 50% 50%, #E2CBFF 0%, #393BB2 50%, #E2CBFF 100%);
}

/* Add the spin animation */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.hover-button {
  color: white;
  background-color: #9F54FF;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateZ(0); /* Optimize performance */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.hover-button:hover {
  background: linear-gradient(to right, #9F54FF, #6a2dc5, #511b98);
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.hover-button:active {
  background-color: #3a1370;
  border-color: #6a2dc5;
  transform: scale(0.95);
  box-shadow: none;
}

.hover-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(159, 84, 255, 0.6);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}